/*Home page*/
/*
container: {
    flex: 1,
    backgroundColor: "#fff",
    alignItems: "center",
    justifyContent: "center",
  },
  text: { fontWeight: "bold", fontSize: 20 },
}
*/
/*Register page*/
/*----------------*/
/*
    container: {
    flex: 1,
    backgroundColor: "#F3E2E3",
    alignItems: "center",
    justifyContent: "center",
  },
  subContainer: {
    flex: 1,
    alignItems: "center",
    marginTop: 20,
    marginBottom: 20,
    backgroundColor: "#fff",
    borderColor: "#C1666B",
    borderWidth: 2,
    paddingLeft: 20,
    paddingRight: 20,
    borderRadius: 10,
    width: 384,
  },
  inputFields: {
    width: 250,
    height: 34,
    backgroundColor: "#F3E2E3",
    borderWidth: 2,
    borderColor: "#C1666B",
    borderRadius: 5,
    paddingLeft: 5,
  },
  grouping: {
    marginTop: 10,
    marginBottom: 10,
  },
  button: {
    borderRadius: 5,
    marginTop: 10,
    marginBottom: 10,
    padding: 10,
    alignItems: "center",
    width: 200,
  },

  text: { 
    marginTop: 5, 
    marginBottom: 5 
  },
  heading: {
    fontSize: 30,
    marginTop: 5,
    marginBottom: 5,
  }, 
  error: {
    color: "red",
    marginTop: 5,
    marginBottom: 5,
    fontWeight: "bold"
  },
*/

/*Login page*/
/*
  container: {
    flex: 1,
    backgroundColor: "#F3E2E3",
    alignItems: "center",
    justifyContent: "center",
  },
  subContainer: {
    flex: 1,
    alignItems: "center",
    marginTop: 20,
    marginBottom: 20,
    backgroundColor: "#fff",
    borderColor: "#C1666B",
    borderWidth: 2,
    paddingLeft: 20,
    paddingRight: 20,
    borderRadius: 10,
    width: 384,
  },
  
  inputFields: {
    width: 250,
    height: 34,
    backgroundColor: "#F3E2E3",
    borderWidth: 2,
    borderColor: "#C1666B",
    borderRadius: 5,
    paddingLeft: 5,
  },
  button: {
    borderRadius: 5,
    marginTop: 15,
    marginBottom: 10,
    padding: 10,
    alignItems: "center",
    width: 200,
  },
  text: { 
    marginTop: 10, 
    marginBottom: 5 
  },
  heading: {
    fontSize: 30,
    marginTop: 5,
    marginBottom: 5,
  },
  error: {
    color: "red",
    marginTop: 5,
    marginBottom: 5,
    fontWeight: "bold"
  }
});

*/

/*PRODUCT API STYLING*/
/* list: {
    alignContent: "stretch",
    width: "100%",
    marginTop: 10,
  },
  listItem: {
    alignSelf: "center",
    width: "80%",
    marginVertical: 10,
    flexDirection: "column",
    alignItems: "flex-start",
    padding: 10,
    borderBottomColor: "#ddd",
    borderBottomWidth: 2,
  },
  itemHeader: { flexDirection: "row", alignItems: "center" },
  year: { fontSize: 20, color: "blue", fontWeight: "bold" },
  category: { fontSize: 16, fontWeight: "bold", marginLeft: 10 },
  name: { marginVertical: 10, fontStyle: "italic" },
} */